@{
  ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
</head> 
<div class="main-box-apa">
  <form action="" method="post">
    <!-- Campo de correo -->
    <input class="input-apa" type="email" id="email" name="email" placeholder="Ingresa tu Correo" required>

    <!-- Campo de contraseña -->
    <input class="input-apa" type="password" id="password" name="password" placeholder="Ingresa tu Contraseña" required>

    <!-- Botón de envío -->
    <button class="button-login-apa" type="submit">Iniciar Sesión</button>
</form>
</div>